.newcomer-registration {
    width: 100%;
    // height: 100vh;
    background: #FFF3EA;
    .top {
        position: relative;
        height: 625px;
        background: url('../../assets/store-pay/register-bj.png') no-repeat;
        background-size: 100% 100%;
        .logo {
            position: absolute;
            top: 52px;
            left: 50%;
            transform: translateX(-50%);
            width: 162px;
            height: 38px;
            background: url('../../assets/store-pay/logo.png') no-repeat;
            background-size: 100% 100%;
        }
        .share {
            position: absolute;
            top: 47px;
            right: 20px;
            width: 50px;
            height: 50px;
            background: url('../../assets/store-pay/share-icon.png') no-repeat;
            background-size: 100% 100%;
        }
    }
    // .tab-bar {
    //     position: absolute;
    //     top: 0;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     padding-right: 36px;
    //     box-sizing: border-box;
    //     width: 100%;
    //     height: 88px;
    //     .share {
    //         width: 50px;
    //         height: 50px;
    //         background: url('../../assets/store-pay/share-icon.png') no-repeat;
    //         background-size: 100% 100%;
    //     }
    }
    .center {
        position: relative;
        width: 750px;
        height: 700px;
        background: linear-gradient(180deg, #FF8781 0%, #FFF3EA 100%);
        .coupon-out-frame {
            position: absolute;
            top: -50px;
            margin-left: 20px;
            width: 710px;
            height: 230px;
            background: url('../../assets/store-pay/out-frame.png') no-repeat;
            background-size: 100% 100%;
        }
        .coupon-container {
            position: absolute;
            top: -95px;
            left: 50%;
            transform: translateX(-50%);
            padding: 30px 30px;
            box-sizing: border-box;
            width: 668px;
            height: 387px;
            background: #FFF0DA;
            border-radius: 23px;
            border: 4px solid #FFF0DA;
            .coupon-box {
                overflow-x: scroll;
                width: 100%;
                height: 230px;
                display: flex;
                align-items: center;
                overflow-y: hidden;
                flex-wrap: nowrap;
                .coupon {
                    display: inline-block;
                    flex: none;
                    margin-right: 20px;
                    background: url('../../assets/store-pay/coupon-bg.png') no-repeat;
                    background-size: 100% 100%;
                    width: 184px;
                    height: 224px;
                    white-space: nowrap;
                    &:last-child{
                        margin-right: 0;
                    }
                    .text {
                        margin-top: 30px;
                        font-size: 20px;
                        text-align: center;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #FFECBE;
                        line-height: 28px;
                    }
                    .money {
                        text-align: center;
                        font-size: 64px;
                        font-family: DINAlternate-Bold, DINAlternate;
                        font-weight: bold;
                        color: #FF474C;
                        line-height: 74px;
                        background: linear-gradient(180deg, #FFF7DD 0%, #FEE3A5 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        .unit {
                            width: 28px;
                            height: 40px;
                            font-size: 28px;
                            font-family: PingFangSC-Semibold, PingFang SC;
                            font-weight: bold;
                            line-height: 40px;
                            background: linear-gradient(180deg, #FFF7DD 0%, #FEE3A5 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    .condition {
                        margin-top: 42px;
                        font-size: 20px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #FFECBE;
                        line-height: 28px;
                        text-align: center;
                    }
                }
            }
        }
        .form {
            position: absolute;
            top: 160px;
            z-index: 9;
            margin-left: 20px;
            width: 710px;
            height: 536px;
            background: url('../../assets/store-pay/form-bg.png') no-repeat;
            background-size: 100% 100%;
            input {
                width: 642px;
                height: 82px;
                line-height: 82px;
                background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
                border-radius: 20px;
                border: 1px solid #FFD0BA;
                outline: unset;
                text-indent: 74px;
                font-size: 28px;
            }
            .inp-icon {
                position: absolute;
                top: 28px;
                left: 30px;;
                display: inline-block;
                width: 30px;
                height: 30px;
            }
            .phone-inp {
                position: relative;
                margin: 86px auto 0;
                width: 642px;
                .phone-icon {
                    background: url('../../assets/store-pay/phone-icon.png') no-repeat;
                    background-size: 100% 100%;
                }
            }
            .code-inp {
                position: relative;
                margin: 20px auto 0;
                width: 642px;
                .code-icon {
                    background: url('../../assets/store-pay/code-icon.png') no-repeat;
                    background-size: 100% 100%;
                }
            }
            .form-btn {
                margin: 30px auto 0;
                width: 650px;
                height: 112px;
                background: url('../../assets/store-pay/button-bg.png') no-repeat;
                background-size: 100% 100%;
                text-align: center;
                line-height: 112px;
                font-size: 34px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FFF;
                cursor: pointer;
            }
            .form-tip {
                margin: 22px auto 0;
                width: 620px;
                font-size: 24px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #FFFFFF;
                line-height: 40px;
                .check {
                    position: relative;
                    top: 10px;
                    display: inline-block;
                    // margin-right: 10px;
                    width: 36px;
                    height: 36px;
                    background: url('../../assets/store-pay/check-icon.png') no-repeat;
                    background-size: 100% 100%;
                }
                .checked {
                    background: url('../../assets/store-pay/checked-icon.png') no-repeat;
                    background-size: 100% 100%;
                }
                a {
                    color: #FFFFFF;
                }
            }
        }
    }
    .introduce {
        margin: 30px auto;
        width: 710px;
        background: linear-gradient(90deg, #FFF4E6 0%, #FFD3A7 100%);
        box-shadow: 0px 5px 13px 0px #F9D7BC, 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
        border-radius: 30px;
        border: 3px solid #FFFDE9;
        .title {
            margin: 28px 0 20px 44px;
            height: 45px;
            font-size: 32px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #333333;
            line-height: 45px;
        }
        .introduce-text {
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 40px;
        }
        .text-area {
            margin: 0 auto 16px;
            padding: 47px 28px;
            box-sizing: border-box;
            width: 678px;
            height: 134px;
            background: linear-gradient(90deg, #FFFAF2 0%, #FEF1E2 100%);
            border-radius: 30px;
            border: 1px solid #FFD0BA;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 40px;
        }
        .text-container {
            margin: 0 auto 16px;
            padding: 30px 28px;
            box-sizing: border-box;
            width: 678px;
            background: linear-gradient(90deg, #FFFAF2 0%, #FEF1E2 100%);
            border-radius: 30px;
            border: 1px solid #FFD0BA;
            li {
                margin-bottom: 24px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .last-introduce {
        margin-bottom: unset;
    }
    .bottom-text {
        position: relative;
        padding: 40px 0 90px;
        text-align: center;
        font-size: 26px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 37px;
        .tips {
            position: absolute;
            top: 92px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            line-height: 33px;
        }
    }
