server {
  listen            ${LISTEN};
  server_name       ${SERVER_NAME};
  error_page        405 =200 $uri;
  index index.html  index.htm;
  error_log         /opt/logs/${LOG_PATH}/error_${SERVER_NAME}.log;
  access_log        /opt/logs/${LOG_PATH}/access_${SERVER_NAME}.log;
  add_header        Access-Control-Allow-Origin *;
  root              ${ROOT};

  location /zt-upload/ {
     proxy_pass         http://hsh-goods-domain-web.goods-mg:8080/;
     proxy_set_header   Host $proxy_host;
     proxy_set_header   X-Real-IP       $remote_addr;
     proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  location ^~ /hsh-guizhu-merchant-api/ {
       proxy_pass         https://test-customer.hengshenghuo.com/ben-api/;
       proxy_set_header   Host $proxy_host;
       proxy_set_header   X-Real-IP       $remote_addr;
       proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  location ^~ /api/ {
     proxy_pass         http://uni-opp-uo-web.uni-opp:8080/;
     proxy_set_header   Host $proxy_host;
     proxy_set_header   X-Real-IP       $remote_addr;
     proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  location ^~ /yzc-api/ {
     proxy_pass         http://nl-smp-java-service-gateway.locallife:8080/;
     proxy_set_header   Host $proxy_host;
     proxy_set_header   X-Real-IP       $remote_addr;
     proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  location ^~ /ws/ {
     proxy_pass         https://apis.map.qq.com/ws/;
     proxy_set_header   Host $proxy_host;
     proxy_set_header   X-Real-IP       $remote_addr;
     proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  location / {
    try_files       $uri $uri/ /index.html;
    add_header Cache-Control no-cache;
  }
}